input::placeholder{
    opacity: 0.5;
}
textarea::placeholder{
    opacity: 0.5;
}

form{
    width: 500px;
    margin: auto;
}

input{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.646);
}

textarea#cMsg{
    background-color: rgba(255, 255, 255, 0.649);
}

input:hover , textarea:hover{
    background-color: rgba(225, 225, 225, 0.867);
}

a#corText{
    color: rgba(0, 0, 0, 0.508);
    text-decoration: none;
    font-size: 11pt;
}

legend{
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset{
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo{
    width: 150px;
}

fieldset#usuario{
    background: url('./imagens/icone-contato.png') no-repeat 95% 95%; /*95% 95% fica em baixo no lado direito*/
    
}

fieldset#endereco{
    background: url('./imagens/icone-endereco.png') no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url('./imagens/icone-mensagem.png') no-repeat 95% 95%;
}

fieldset#google-glass{
    background: url('./_magens/icone-pagamento.png') no-repeat 95% 95%;
}
